@page "/cmapiInterface"
@implements IDisposable
@inject IJSRuntime JS
@inject OWFBlazorDemo.Services.AppState AppState

<h1>Call CMAPI <code>CMAPIInterface</code> Function</h1>

<p>
    
</p>

<p>
    @text
</p>

@code {
    private readonly DotNetObjectReference<CMAPIInterface> _objeRef;
    private string text = "";

    protected override async Task OnInitializedAsync()
    {
        if (AppState == null) {
            System.Console.WriteLine("App State is NULL");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("NotificationManager.register", _objeRef);
        }
    }

    public CMAPIInterface()
    {
        _objeRef = DotNetObjectReference.Create(this);
    }

    async void IDisposable.Dispose()
    {
        JS.InvokeVoidAsync("NotificationManager.deregister");    
        _objeRef.Dispose();
    }

}