@page "/cmapiInterface"
@implements IDisposable
@inject IJSRuntime JS
@inject OWFBlazorDemo.Services.AppState AppState

<h1>Call CMAPI <code>CMAPIInterface</code> Function</h1>

<p>
    <button @onclick="MAPStatus">Show Map Status (View)</button>
</p>

<p>
    @text
</p>

@code {
    private string text = "";

    protected override async Task OnInitializedAsync()
    {
        if (AppState == null) {
            System.Console.WriteLine("App State is NULL");
        }
    }

    public CMAPIInterface()
    {
    }

    // plot marker on map
    // plot line on map
    // plot polygon on map
    // plot complex kml on map
    // plot line with starting position, bearing/heading, distance
    // plot buffer on map
    // listen to map click (location capture)

    private async Task MAPStatus()
    {
    }

    async void IDisposable.Dispose()
    {
    }
}