@page "/"
@inject IJSRuntime JS
@inject OWFBlazorDemo.Services.AppState AppState

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JS.InvokeVoidAsync("window.dotnetInterface.AttachHandlers");
        }
    }
}