@page "/owfInterface"
@implements IDisposable
@inject IJSRuntime JS
@inject OWFBlazorDemo.Services.AppState AppState

<h1>Call OWF <code>OWFInterface</code> Function</h1>

<p>
    <button @onclick="UserProfile">Show User Info</button>
</p>

<p>
    <code>UUID</code>: @uuid
    @text
</p>

@code {
    private string uuid = "{}";
    private string text = "";

    protected override async Task OnInitializedAsync()
    {
        if (AppState == null) {
            System.Console.WriteLine("App State is NULL");
        }
    }

    public OWFInterface()
    {
    }

    // get user profile info
    // store settings
    // restore settings

    private async Task UserProfile()
    {
        // string uuidObject = await JS.InvokeAsync<string>("SaveUserConfig", "b29ce96f-ba7a-a0a3-1bbd-9c2badb6a9fb");
    }
    
    async void IDisposable.Dispose()
    {
    }
}