@page "/owfInterface"
@using OWFBlazorDemo.Services
@implements IDisposable
@inject IJSRuntime JS
@inject OWFBlazorDemo.Services.AppState AppState

<h1><code>OWF</code> Interface</h1>

<p>
    <code>UUID</code>: @uuid
    <br />
    <code>User</code>: <br />@((MarkupString)user)
    <br />
    <code>Groups</code>: <br />@((MarkupString)groups)
    <br />
</p>

@code {
    private readonly DotNetObjectReference<OWFInterface> _objeRef;
    private string uuid = "";
    private string user = "";
    private string groups = "";

    protected override async Task OnInitializedAsync()
    {
        if (AppState == null)
        {
            System.Console.WriteLine("App State is NULL");
        }

        uuid = (string)AppState.get("uuid", "");
        user = (string)AppState.get("user", "");
        groups = (string)AppState.get("groups", "");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.register", _objeRef);

            if (uuid == "")
            {
                await JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.start", "owf.user.uuid", "GetUserUUID", true, "owf");
            }
        }
    }

    public OWFInterface()
    {
        _objeRef = DotNetObjectReference.Create(this);
    }

    [JSInvokable]
    public async Task GetUserUUID(string message)
    {
        uuid = message;
        base.StateHasChanged();

        AppState.set("uuid", uuid);
        JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.stop", "owf.user.uuid");

        // invoke next call to get user info
        await JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.start", "owf.user", "GetUser", true, "owf");
    }

    [JSInvokable]
    public async Task GetUser(string message)
    {
        user = JSONServices.JSONAsHTMLString(message);
        base.StateHasChanged();

        AppState.set("user", user);
        JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.stop", "owf.user");

        // invoke next call to get user group info
        await JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.start", "owf.user.groups", "GetUserGroups", true,
        "owf");
    }

    [JSInvokable]
    public async Task GetUserGroups(string message)
    {
        groups = JSONServices.JSONAsHTMLString("{groups: " + message + "}");
        base.StateHasChanged();

        AppState.set("groups", groups);
        JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.stop", "owf.user.groups");
    }

    async void IDisposable.Dispose()
    {
        JS.InvokeVoidAsync("interopInterface.INTEROPMessageHandler.deregister");
        _objeRef.Dispose();
    }

}