@page "/OWFInterface"
@inject IJSRuntime JS
@inject OWFBlazorDemo.Services.AppState AppState

<h1>Call OWF <code>OWFInterface</code> Function</h1>

<p>
    <button @onclick="UserProfile">Show User Info</button>
</p>

<p>
    @text
</p>

@code {
    private string text = "";

    private async Task UserProfile()
    {
    }
}